<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Otus SpringFramework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
</head>

<body>

<h1>Movie list</h1>

<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
    </tr>
    </thead>
    <tbody th:remove="all-but-first">

    <tr th:each="movie : ${movies}">
        <td th:text="${movie.name}">movie.name</td>
        <td th:text="${movie.score}">movie.score</td>
    </tr>

    </tbody>
</table>

<p>
    <a href="../home.html" th:href="@{/}">Return to home</a>
</p>

</body>

</html>

