<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Otus SpringFramework</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../static/css/app.css" th:href="@{/css/app.css}"/>
</head>

<body id="body">

<h1>Comments for book: <span th:text="${book.title}">Как закалялась сталь</span></h1>

<table>
    <thead>
    <tr>
        <th>TEXT</th>
    </tr>
    </thead>

    <tr th:each="note : ${notes}">
        <td th:text="${note.text}">!ура!ура!</td>
    </tr>
</table>

<p>
    <a href="addnote.html" th:href="@{/book/addnote(bookId=${book.id})}">Note add</a>
</p>
<p>
    <a href="list.html" th:href="@{/book/list}">Return to book list</a>
</p>

</body>

</html>

